---
interface Props {
  text: string;
  buttonType: "link" | "button";
  href?: string;
}

const { text, buttonType = "link", href } = Astro.props;
const classes = "px-5 py-2 text-dark bg-light rounded-md font-display"
---

{
  buttonType === "button" ? (
    <button class={classes}>{text}</button>
  ) : (
    <a class={classes} href={href}>
      {text}
    </a>
  )
}
