---
import { Image } from "astro:assets";
import slugify from "../utils/slugify";

interface Props {
  project: {
    name: string;
    title: string;
    image: {
      src: string;
      alt: string;
    };
    tags: string[];
  };
}
const { project } = Astro.props;
const { name, title, image, tags } = project;
const slug = slugify(name);
---

<li class="flex flex-col gap-4">
  <Image
    src={image.src}
    alt={image.alt}
    width={640}
    height={640}
    class="aspect-[6/4] w-full rounded-lg bg-dark object-cover"
  />
  <h5 class="text-sm text-brand">{name}</h5>
  <a href={`/projects/${slug}`} class="-mt-1 text-2xl">{title}</a>
  <ul class="flex items-center gap-2 opacity-40">
    {
      tags.map((tag, index) => (
        <li class="flex items-center gap-2">
          <span class="font-mono text-xs">{tag}</span>
          {index !== tags.length - 1 && <div class="size-1 bg-dark" />}
        </li>
      ))
    }
  </ul>
</li>
