---
import { Image } from "astro:assets";
import Pill from "./ui/Pill.astro";
import { type Project } from "../utils/projectsInfo";
import slugify from "../utils/slugify";

interface Props {
  project: Project;
}

const { project } = Astro.props;
const { title, imageSrc, imageAlt, siteType, service } = project;
const slug = slugify(title);
---

<li class="group/project">
  <a href={`/projects/${slug}`} class="flex flex-col gap-4 transition duration-500 ease-out">
    <div
      class="rounded-xl overflow-hidden aspect-square group-hover/project:rounded-3xl duration-500 ease-out"
    >
      <Image
        src={imageSrc}
        alt={imageAlt}
        width={500}
        height={500}
        class="size-full object-cover group-hover/project:scale-105 transition duration-500 ease-out"
      />
    </div>
    <div class="flex justify-between gap-8">
      <div class="flex flex-col gap-2 items-start">
        <h3 class="text-2xl font-display">{title}</h3>
        <Pill intent={"secondary"}>{siteType}</Pill>
      </div>
      <p class="text-xl">
        {service}
      </p>
    </div>
  </a>
</li>
