---
import { Image } from "astro:assets";
import slugify from "../utils/slugify";

interface Props {
  project: {
    name: string;
    title: string;
    image: {
      src: string;
      alt: string;
    };
    tags: string[];
  };
  gridPlacement?: string;
}
const { project, gridPlacement } = Astro.props;
const { name, title, image, tags } = project;
const slug = slugify(name);
---

<li class=`flex flex-col gap-4 group ${gridPlacement}`>
  <div
    class="relative aspect-[7/4] w-full flex-grow overflow-clip rounded-lg bg-dark"
  >
    <Image
      src={image.src}
      alt={image.alt}
      width={640}
      height={640}
      class="absolute inset-0 size-full object-cover transition duration-500 ease-out group-hover:scale-105"
    />
  </div>
  <h5 class="text-sm text-brand-3">{name}</h5>
  <a
    href={`/projects/${slug}`}
    class="-mb-1 -mt-2 transition-all duration-200 ease-out ~text-xl/2xl hover:text-brand-3 hover:underline"
    >{title}</a
  >
  <ul class="flex items-center gap-2 opacity-40">
    {
      tags.map((tag, index) => (
        <li class="flex items-center gap-2">
          <span class="font-mono text-xs">{tag}</span>
          {index !== tags.length - 1 && <div class="size-1 bg-dark" />}
        </li>
      ))
    }
  </ul>
</li>
